.second-banner-main {
  width: 100%;
  overflow: hidden;
  max-width: 75%;
  margin: auto;
  position: relative;
  margin-bottom: 100px;
}
.second-banner-container {
  display: flex;
  justify-content: center;
}
.second-banner-container img {
  margin-left: 10rem;
  max-height: 600px;
  object-fit: cover;
}
.second-Banner-promo {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  width: 100%;
  background-color: var(--white);
  max-width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 30px 10px 30px rgba(0, 0, 0, 0.1);
}
.second-Banner-promo h1 {
  margin: 0;
  font-family: Corda Std, Georgia, serif;
  font-weight: var(--fw-500);
  color: var(--charcoal);
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-52);
  line-height: 56px;
}
.second-Banner-promo p {
  margin: 0;
  margin-top: 20px;
  color: var(--charcoal);
  font-size: var(--fs-16);
  line-height: 18px;
}
.second-Banner-promo button {
  margin: 0;
  margin-top: 20px;
  font-size: var(--fs-16);
  font-weight: var(--fw-700);
  line-height: 24px;
  background-color: var(--green);
  color: var(--white);
  padding: 10px 30px;
  width: fit-content;
   cursor: pointer;
}
.second-Banner-promo button:hover {
  text-decoration: underline;
  background-color: rgb(9, 94, 9);
}
@media (max-width: 1550px) {
  .second-banner-main {
    max-width: 90%;
  }
}
@media (max-width: 786px) {
  .second-banner-main {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .second-banner-container {
    flex-direction: column;
    align-items: center;
  }

  .second-Banner-promo {
    position: static;
    padding: 20px;
    max-width: 100%;
    margin-top: 15px;
    box-shadow: none;
  }

  .second-banner-container img {
    height: 240px;
    margin-left: 0;
    width: 100%;
    object-fit: cover;
  }
  .second-Banner-promo h1 {
    font-size: 36px;
    line-height: 1.22;
  }
  .second-Banner-promo p {
    margin-top: 15px;
    font-size: var(--fs-14);
  }
  .second-Banner-promo button {
    margin-top: 15px;
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    line-height: 22px;
  }
}
