@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* --green: #3a5000;
  --light-green: #3a5000; */
  --green: #4b5320;
  --light-green: #4b5320;
  --offwhite: #f8f7f5;
  --white: #ffff;
  --light-gray: #bdbdbd;
  --light-graysss: #f5f5f5;
  --charcoal: #2e2d2b;
  --gray: #565553;

  /* --light-green: #929a67; */
  /* --light-medium-green: #6a733a; */
  --dark-medium-green: #4b5320;
  /* --dark-green: #2b310d; */

  --fs-12: 0.75rem; /* 12px */
  --fs-13: 0.8125rem; /* 13px */
  --fs-14: 0.875rem; /* 14px */
  --fs-15: 0.9375rem; /* 15px */
  --fs-16: 1rem; /* 16px */
  --fs-17: 1.0625rem; /* 17px */
  --fs-18: 1.125rem; /* 18px */
  --fs-19: 1.1875rem; /* 19px */
  --fs-20: 1.25rem; /* 20px */
  --fs-21: 1.3125rem; /* 21px */
  --fs-22: 1.375rem; /* 22px */
  --fs-40: 2.5rem; /* 40px */
  --fs-52: 3.25rem; /* 52px */
  --fs-70: 4.375rem; /* 70px */

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --br-8: 0.5rem;
  --br-6: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}
